body{
    background-color: #9966ff;
}

.letter {
    display: inline-block;
    font-size: 40px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    color: #ffffff;
}

.block {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border: 3px solid rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    vertical-align: auto;
    color: white;
    font-size: 50px;
    line-height: 50px;
}

.blocs{
    margin-left: 610px;
    margin-top: -280px;
}

.letter.red {
    background-color: red;
}

.keyboard .letter {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    background-color: #0099ff;
}

.keyboard{
    margin-top: 400px;
    margin-left: 600px;

    width: 750px;
    height: 280px;
    border: 3px solid rgb(255, 255, 255);
}

.bat_1{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10%;
    background-color: #0099ff;
    color: #fff;
    font-size: 16px;

    margin-left: 640px;
}

.keyboard_1{
    margin-top: 30px;
}

